<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Lodash Library</title>
    <!--
        Lodash 라이브러리를 이용한 데이터 정렬/필터/색인
    -->
</head>
<body>
    <div class="container">
        <h1>Let's hear some stories!</h1>
        <ul class="list-group">
            <li v-for="(story, index) in orderedStories" :key="index" class="list-group-item">
                {{ story.writer }} said "{{ story.plot }}" and upvoted {{ story.upvotes }} times.
            </li>
        </ul>
        <!--
            _.orderBy(collection, [iteratees=[_.identity]], [orders])
            collection : 정렬할 배열
            iteratees : 정렬 기준이 될 키의 배열
            orders : 오름차순 or 내림차순
        -->
        <ul class="list-group">
            <li v-for="(story, index) in _.orderBy(stories, ['upvotes'], [order])" :key="index" class="list-group-item">
                {{ story.writer }} said "{{ story.plot }}" and upvoted {{ story.upvotes }} times.
            </li>
        </ul>
        <button class="btn btn-default" v-on:click="reverseOrder">Reverse Order</button>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script>
    new Vue({
        el : '.container',
        data: {
            stories : [
                {
                    plot: "I crashed my car today!",
                    writer: "Alex",
                    upvotes: 28
                },
                {
                    plot: "Yesterday, someone stole my bag!",
                    writer: "John",
                    upvotes: 8
                },
                {
                    plot: "Someone ate my chocolate...",
                    writer: "John",
                    upvotes: 51
                },
                {
                    plot: "I ate someone's chocolate!",
                    writer: "Alex",
                    upvotes: 74
                },
            ],
            order : 'desc'
        },
        methods: {
            reverseOrder: function () {
            this.order = (this.order === 'desc') ? 'asc' : 'desc'
            }
        },
        computed: {
            orderedStories: function () {
                var order = this.order
                return _.orderBy(this.stories, 'upvotes', [order])
            }
        }
    })
</script>
</html>