<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if</title>
</head>
<body>
    <!-- v-show와 결과는 같지만 DOM의 유지 여부가 다름 -->
    <div id="app">
        <h1 v-if="!msg">You must Send a Message for Help</h1>
        <h2 v-else>You have sent a Mesage!</h2>
        <textarea v-model="msg"></textarea><br>
        <button v-show="msg">
            Send word to aliies for help!
        </button>
        <pre>
            {{ $data }}
        </pre>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el : '#app',
        data : {
            msg : 'Our King is dead!'
        }
    })
</script>
</html>
<!--
    v-show를 사용하면 페이지 렌더링 중에 더 많은 로드 시간이 발생
    v-if을 사용할 경우 초기 렌더링에서 조건이 true가 될때까지 블록안의 내용은 실제로 렌더링 되지 않음
    
    자주 토글해야하는 경우 v-show를 사용
    런타임에 조건이 자주 변경될 가능성이 낮은 경우는 v-if 사용
-->